In [225]:
from bs4 import BeautifulSoup
import requests

In [226]:
web= requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [227]:
web

In [228]:
bs=BeautifulSoup(web.content)

In [229]:
h1=[]

In [230]:
for i in bs.find_all('h1', class_='firstHeading mw-first-heading'):
    h1.append(i.text.split('|')[0])

In [231]:
h1

['Main Page']

In [232]:
h2=[]

In [233]:
for i in bs.find_all('h2', class_='mp-h2'):
    h2.append(i.text.split('|')[0])

In [234]:
h2

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [235]:
len(h2)

8

In [242]:
h3=[]
for i in bs.find_all('h3', class_='vector-menu-heading'):
    h3.append(i.text.split('|')[0])

In [243]:
h3

['\nPersonal tools\n',
 '\nNamespaces\n',
 '\nViews\n',
 '\nNavigation\n',
 '\nContribute\n',
 '\nTools\n',
 '\nPrint/export\n',
 '\nIn other projects\n',
 '\nLanguages\n']

In [244]:
h3 = [i.replace('\n','') for i in h3]

In [245]:
h3

['Personal tools',
 'Namespaces',
 'Views',
 'Navigation',
 'Contribute',
 'Tools',
 'Print/export',
 'In other projects',
 'Languages']

In [246]:
len(h3)

9

In [247]:
headers = []
headers.extend(h1)
headers.extend(h2)
headers.extend(h3)
#headers.append(h1)
#headers.append(h2)
#headers.append(h3)

In [248]:
headers

['Main Page',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Personal tools',
 'Namespaces',
 'Views',
 'Navigation',
 'Contribute',
 'Tools',
 'Print/export',
 'In other projects',
 'Languages']

In [249]:
import pandas as pd

In [250]:
df= pd.DataFrame({'headers':headers})

In [251]:
df

                          headers
0                       Main Page
1   From today's featured article
2                Did you know ...
3                     In the news
4                     On this day
5        Today's featured picture
6        Other areas of Wikipedia
7     Wikipedia's sister projects
8             Wikipedia languages
9                  Personal tools
10                     Namespaces
11                          Views
12                     Navigation
13                     Contribute
14                          Tools
15                   Print/export
16              In other projects
17                      Languages

## IMDB Films

In [252]:
web2 = requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')

In [253]:
web2

In [254]:
bs= BeautifulSoup(web2.content)

In [255]:
titles= []
for i in bs.find_all('h3',class_='lister-item-header'):
    titles.append(i.text.split('|')[0])

In [256]:
titles

['\n1.\nThe Shawshank Redemption\n(1994)\n',
 '\n2.\nThe Godfather\n(1972)\n',
 '\n3.\nThe Dark Knight\n(2008)\n',
 '\n4.\nThe Lord of the Rings: The Return of the King\n(2003)\n',
 "\n5.\nSchindler's List\n(1993)\n",
 '\n6.\nThe Godfather Part II\n(1974)\n',
 '\n7.\n12 Angry Men\n(1957)\n',
 '\n8.\nPulp Fiction\n(1994)\n',
 '\n9.\nInception\n(2010)\n',
 '\n10.\nThe Lord of the Rings: The Two Towers\n(2002)\n',
 '\n11.\nFight Club\n(1999)\n',
 '\n12.\nThe Lord of the Rings: The Fellowship of the Ring\n(2001)\n',
 '\n13.\nForrest Gump\n(1994)\n',
 '\n14.\nIl buono, il brutto, il cattivo\n(1966)\n',
 '\n15.\nThe Matrix\n(1999)\n',
 '\n16.\nGoodfellas\n(1990)\n',
 '\n17.\nThe Empire Strikes Back\n(1980)\n',
 "\n18.\nOne Flew Over the Cuckoo's Nest\n(1975)\n",
 '\n19.\nInterstellar\n(2014)\n',
 '\n20.\nCidade de Deus\n(2002)\n',
 '\n21.\nSen to Chihiro no kamikakushi\n(2001)\n',
 '\n22.\nSaving Private Ryan\n(1998)\n',
 '\n23.\nThe Green Mile\n(1999)\n',
 '\n24.\nLa vita è bella\n(1997)\n',
 '\n25.\nSe7en\n(1995)\n',
 '\n26.\nTerminator 2: Judgment Day\n(1991)\n',
 '\n27.\nThe Silence of the Lambs\n(1991)\n',
 '\n28.\nStar Wars\n(1977)\n',
 '\n29.\nSeppuku\n(1962)\n',
 '\n30.\nShichinin no samurai\n(1954)\n',
 "\n31.\nIt's a Wonderful Life\n(1946)\n",
 '\n32.\nGisaengchung\n(2019)\n',
 '\n33.\nWhiplash\n(2014)\n',
 '\n34.\nThe Intouchables\n(2011)\n',
 '\n35.\nThe Prestige\n(2006)\n',
 '\n36.\nThe Departed\n(2006)\n',
 '\n37.\nThe Pianist\n(2002)\n',
 '\n38.\nGladiator\n(2000)\n',
 '\n39.\nAmerican History X\n(1998)\n',
 '\n40.\nThe Usual Suspects\n(1995)\n',
 '\n41.\nLéon\n(1994)\n',
 '\n42.\nThe Lion King\n(1994)\n',
 '\n43.\nNuovo Cinema Paradiso\n(1988)\n',
 '\n44.\nHotaru no haka\n(1988)\n',
 '\n45.\nBack to the Future\n(1985)\n',
 '\n46.\nApocalypse Now\n(1979)\n',
 '\n47.\nAlien\n(1979)\n',
 '\n48.\nOnce Upon a Time in the West\n(1968)\n',
 '\n49.\nPsycho\n(1960)\n',
 '\n50.\nRear Window\n(1954)\n']

In [257]:
titles = [x.replace('\n', '')for x in titles]

In [258]:
titles

['1.The Shawshank Redemption(1994)',
 '2.The Godfather(1972)',
 '3.The Dark Knight(2008)',
 '4.The Lord of the Rings: The Return of the King(2003)',
 "5.Schindler's List(1993)",
 '6.The Godfather Part II(1974)',
 '7.12 Angry Men(1957)',
 '8.Pulp Fiction(1994)',
 '9.Inception(2010)',
 '10.The Lord of the Rings: The Two Towers(2002)',
 '11.Fight Club(1999)',
 '12.The Lord of the Rings: The Fellowship of the Ring(2001)',
 '13.Forrest Gump(1994)',
 '14.Il buono, il brutto, il cattivo(1966)',
 '15.The Matrix(1999)',
 '16.Goodfellas(1990)',
 '17.The Empire Strikes Back(1980)',
 "18.One Flew Over the Cuckoo's Nest(1975)",
 '19.Interstellar(2014)',
 '20.Cidade de Deus(2002)',
 '21.Sen to Chihiro no kamikakushi(2001)',
 '22.Saving Private Ryan(1998)',
 '23.The Green Mile(1999)',
 '24.La vita è bella(1997)',
 '25.Se7en(1995)',
 '26.Terminator 2: Judgment Day(1991)',
 '27.The Silence of the Lambs(1991)',
 '28.Star Wars(1977)',
 '29.Seppuku(1962)',
 '30.Shichinin no samurai(1954)',
 "31.It's a Wonderful Life(1946)",
 '32.Gisaengchung(2019)',
 '33.Whiplash(2014)',
 '34.The Intouchables(2011)',
 '35.The Prestige(2006)',
 '36.The Departed(2006)',
 '37.The Pianist(2002)',
 '38.Gladiator(2000)',
 '39.American History X(1998)',
 '40.The Usual Suspects(1995)',
 '41.Léon(1994)',
 '42.The Lion King(1994)',
 '43.Nuovo Cinema Paradiso(1988)',
 '44.Hotaru no haka(1988)',
 '45.Back to the Future(1985)',
 '46.Apocalypse Now(1979)',
 '47.Alien(1979)',
 '48.Once Upon a Time in the West(1968)',
 '49.Psycho(1960)',
 '50.Rear Window(1954)']

In [259]:
year= []
for i in bs.find_all('span',class_='lister-item-year text-muted unbold'):
    year.append(i.text)

In [260]:
year

['(1994)',
 '(1972)',
 '(2008)',
 '(2003)',
 '(1993)',
 '(1974)',
 '(1957)',
 '(1994)',
 '(2010)',
 '(2002)',
 '(1999)',
 '(2001)',
 '(1994)',
 '(1966)',
 '(1999)',
 '(1990)',
 '(1980)',
 '(1975)',
 '(2014)',
 '(2002)',
 '(2001)',
 '(1998)',
 '(1999)',
 '(1997)',
 '(1995)',
 '(1991)',
 '(1991)',
 '(1977)',
 '(1962)',
 '(1954)',
 '(1946)',
 '(2019)',
 '(2014)',
 '(2011)',
 '(2006)',
 '(2006)',
 '(2002)',
 '(2000)',
 '(1998)',
 '(1995)',
 '(1994)',
 '(1994)',
 '(1988)',
 '(1988)',
 '(1985)',
 '(1979)',
 '(1979)',
 '(1968)',
 '(1960)',
 '(1954)']

In [261]:
len(year)

50

In [265]:
ratings=[]
for i in bs.find_all('div', class_='inline-block ratings-imdb-rating'):
    ratings.append(i.text.split('|')[0])

In [266]:
ratings = [i.replace('\n','') for i in ratings]

In [268]:
df2 = pd.DataFrame({'title':titles,'year of release':year,'rating':ratings})

In [269]:
df2

                                                title year of release rating
0                    1.The Shawshank Redemption(1994)          (1994)    9.3
1                               2.The Godfather(1972)          (1972)    9.2
2                             3.The Dark Knight(2008)          (2008)    9.0
3   4.The Lord of the Rings: The Return of the Kin...          (2003)    9.0
4                            5.Schindler's List(1993)          (1993)    9.0
5                       6.The Godfather Part II(1974)          (1974)    9.0
6                                7.12 Angry Men(1957)          (1957)    9.0
7                                8.Pulp Fiction(1994)          (1994)    8.9
8                                   9.Inception(2010)          (2010)    8.8
9      10.The Lord of the Rings: The Two Towers(2002)          (2002)    8.8
10                                11.Fight Club(1999)          (1999)    8.8
11  12.The Lord of the Rings: The Fellowship of th...          (2001)    8.8
12                              13.Forrest Gump(1994)          (1994)    8.8
13           14.Il buono, il brutto, il cattivo(1966)          (1966)    8.8
14                                15.The Matrix(1999)          (1999)    8.7
15                                16.Goodfellas(1990)          (1990)    8.7
16                   17.The Empire Strikes Back(1980)          (1980)    8.7
17           18.One Flew Over the Cuckoo's Nest(1975)          (1975)    8.7
18                              19.Interstellar(2014)          (2014)    8.6
19                            20.Cidade de Deus(2002)          (2002)    8.6
20             21.Sen to Chihiro no kamikakushi(2001)          (2001)    8.6
21                       22.Saving Private Ryan(1998)          (1998)    8.6
22                            23.The Green Mile(1999)          (1999)    8.6
23                           24.La vita è bella(1997)          (1997)    8.6
24                                     25.Se7en(1995)          (1995)    8.6
25                26.Terminator 2: Judgment Day(1991)          (1991)    8.6
26                  27.The Silence of the Lambs(1991)          (1991)    8.6
27                                 28.Star Wars(1977)          (1977)    8.6
28                                   29.Seppuku(1962)          (1962)    8.6
29                      30.Shichinin no samurai(1954)          (1954)    8.6
30                     31.It's a Wonderful Life(1946)          (1946)    8.6
31                              32.Gisaengchung(2019)          (2019)    8.5
32                                  33.Whiplash(2014)          (2014)    8.5
33                          34.The Intouchables(2011)          (2011)    8.5
34                              35.The Prestige(2006)          (2006)    8.5
35                              36.The Departed(2006)          (2006)    8.5
36                               37.The Pianist(2002)          (2002)    8.5
37                                 38.Gladiator(2000)          (2000)    8.5
38                        39.American History X(1998)          (1998)    8.5
39                        40.The Usual Suspects(1995)          (1995)    8.5
40                                      41.Léon(1994)          (1994)    8.5
41                             42.The Lion King(1994)          (1994)    8.5
42                     43.Nuovo Cinema Paradiso(1988)          (1988)    8.5
43                            44.Hotaru no haka(1988)          (1988)    8.5
44                        45.Back to the Future(1985)          (1985)    8.5
45                            46.Apocalypse Now(1979)          (1979)    8.5
46                                     47.Alien(1979)          (1979)    8.5
47              48.Once Upon a Time in the West(1968)          (1968)    8.5
48                                    49.Psycho(1960)          (1960)    8.5
49                               50.Rear Window(1954)          (1954)    8.5

In [270]:
df2.shape

(50, 3)

## IMDB TOP 100 INDIAN FILMS

In [271]:
web3 = requests.get('https://www.imdb.com/list/ls561664100/')

In [272]:
web3

In [273]:
bs = BeautifulSoup(web3.content)

In [274]:
name=[]
for i in bs.find_all('h3',class_='lister-item-header'):
    name.append(i.text.split('|')[0])

In [275]:
name

['\n1.\nGangs of Wasseypur\n(2012)\n',
 '\n2.\nMasaan\n(2015)\n',
 '\n3.\nShip of Theseus\n(2012)\n',
 '\n4.\nBlack Friday\n(2004)\n',
 '\n5.\nUdaan\n(2010)\n',
 '\n6.\nSardar Udham\n(2021)\n',
 '\n7.\nHaider\n(2014)\n',
 '\n8.\nThe Lunchbox\n(2013)\n',
 '\n9.\nOmkara\n(2006)\n',
 '\n10.\n3 Idiots\n(2009)\n',
 '\n11.\nZindagi Na Milegi Dobara\n(2011)\n',
 '\n12.\nSwades: We, the People\n(2004)\n',
 '\n13.\nShahid\n(2012)\n',
 '\n14.\nAnkhon Dekhi\n(2013)\n',
 '\n15.\nAligarh\n(2015)\n',
 '\n16.\nAndhadhun\n(2018)\n',
 '\n17.\nMaqbool\n(2003)\n',
 '\n18.\nTaare Zameen Par\n(2007)\n',
 '\n19.\nSonchiriya\n(2019)\n',
 '\n20.\nGulaal\n(2009)\n',
 '\n21.\nRaincoat\n(2004)\n',
 '\n22.\nLootera\n(I) (2013)\n',
 '\n23.\nLagaan: Once Upon a Time in India\n(2001)\n',
 '\n24.\nKhosla Ka Ghosla!\n(2006)\n',
 '\n25.\nDangal\n(2016)\n',
 '\n26.\nA Death in the Gunj\n(2016)\n',
 '\n27.\nTalvar\n(2015)\n',
 '\n28.\nDev.D\n(2009)\n',
 '\n29.\nJohnny Gaddaar\n(2007)\n',
 '\n30.\nUgly\n(2013)\n',
 '\n31.\nKahaani\n(2012)\n',
 '\n32.\nBadhaai Do\n(2022)\n',
 '\n33.\nTumbbad\n(2018)\n',
 '\n34.\nHera Pheri\n(2000)\n',
 '\n35.\nDrishyam\n(2015)\n',
 '\n36.\nVeer-Zaara\n(2004)\n',
 '\n37.\nBarfi!\n(2012)\n',
 '\n38.\nHighway\n(I) (2014)\n',
 '\n39.\nRang De Basanti\n(2006)\n',
 '\n40.\nDor\n(2006)\n',
 '\n41.\nHazaaron Khwaishein Aisi\n(2003)\n',
 '\n42.\nChak De! India\n(2007)\n',
 '\n43.\nSir\n(I) (2018)\n',
 '\n44.\nQueen\n(2013)\n',
 '\n45.\nOctober\n(II) (2018)\n',
 '\n46.\nBlack\n(2005)\n',
 '\n47.\nJab We Met\n(2007)\n',
 '\n48.\nPiku\n(2015)\n',
 '\n49.\nKadvi Hawa\n(2017)\n',
 '\n50.\nKapoor & Sons\n(2016)\n',
 '\n51.\nTitli\n(2014)\n',
 '\n52.\nTu Hai Mera Sunday\n(2016)\n',
 '\n53.\nNewton\n(2017)\n',
 '\n54.\nPaan Singh Tomar\n(2012)\n',
 '\n55.\nMukkabaaz\n(2017)\n',
 '\n56.\nDevdas\n(I) (2002)\n',
 '\n57.\nPK\n(2014)\n',
 '\n58.\nStanley Ka Dabba\n(2011)\n',
 '\n59.\nDil Chahta Hai\n(2001)\n',
 '\n60.\nPink\n(III) (2016)\n',
 '\n61.\nNo Smoking\n(2007)\n',
 '\n62.\nKal Ho Naa Ho\n(2003)\n',
 '\n63.\nParched\n(2015)\n',
 '\n64.\nEnglish Vinglish\n(2012)\n',
 '\n65.\nMonsoon Wedding\n(2001)\n',
 '\n66.\n1971\n(2007)\n',
 '\n67.\nCompany\n(2002)\n',
 '\n68.\nWater\n(I) (2005)\n',
 '\n69.\nArticle 15\n(2019)\n',
 '\n70.\nRockstar\n(2011)\n',
 '\n71.\nOye Lucky! Lucky Oye!\n(2008)\n',
 '\n72.\nOm Shanti Om\n(2007)\n',
 '\n73.\nBajrangi Bhaijaan\n(2015)\n',
 '\n74.\nJhund\n(2022)\n',
 '\n75.\nMunna Bhai M.B.B.S.\n(2003)\n',
 '\n76.\nDelhi Belly\n(2011)\n',
 '\n77.\nKabhi Khushi Kabhie Gham...\n(2001)\n',
 '\n78.\nManto\n(2018)\n',
 '\n79.\nUdta Punjab\n(2016)\n',
 '\n80.\nMukti Bhawan\n(2016)\n',
 '\n81.\nIqbal\n(2005)\n',
 '\n82.\nFiraaq\n(2008)\n',
 '\n83.\nAb Tak Chhappan\n(2004)\n',
 '\n84.\nGully Boy\n(2019)\n',
 '\n85.\nMy Name Is Khan\n(2010)\n',
 '\n86.\nRK/RKAY\n(2021)\n',
 '\n87.\nBhaag Milkha Bhaag\n(2013)\n',
 '\n88.\nWake Up Sid\n(2009)\n',
 '\n89.\nRaazi\n(2018)\n',
 '\n90.\nPeepli [Live]\n(2010)\n',
 '\n91.\nThe Sky Is Pink\n(2019)\n',
 '\n92.\nGangubai Kathiawadi\n(2022)\n',
 '\n93.\nThappad\n(2020)\n',
 '\n94.\nChandni Bar\n(2001)\n',
 '\n95.\nKai po che!\n(2013)\n',
 '\n96.\nEeb Allay Ooo!\n(2019)\n',
 '\n97.\nDasvidaniya\n(2008)\n',
 '\n98.\nA Wednesday\n(2008)\n',
 '\n99.\nLSD: Love, Sex Aur Dhokha\n(2010)\n',
 '\n100.\nTrapped\n(XVII) (2016)\n']

In [276]:
name = [i.replace('\n','') for i in name]

In [277]:
name

['1.Gangs of Wasseypur(2012)',
 '2.Masaan(2015)',
 '3.Ship of Theseus(2012)',
 '4.Black Friday(2004)',
 '5.Udaan(2010)',
 '6.Sardar Udham(2021)',
 '7.Haider(2014)',
 '8.The Lunchbox(2013)',
 '9.Omkara(2006)',
 '10.3 Idiots(2009)',
 '11.Zindagi Na Milegi Dobara(2011)',
 '12.Swades: We, the People(2004)',
 '13.Shahid(2012)',
 '14.Ankhon Dekhi(2013)',
 '15.Aligarh(2015)',
 '16.Andhadhun(2018)',
 '17.Maqbool(2003)',
 '18.Taare Zameen Par(2007)',
 '19.Sonchiriya(2019)',
 '20.Gulaal(2009)',
 '21.Raincoat(2004)',
 '22.Lootera(I) (2013)',
 '23.Lagaan: Once Upon a Time in India(2001)',
 '24.Khosla Ka Ghosla!(2006)',
 '25.Dangal(2016)',
 '26.A Death in the Gunj(2016)',
 '27.Talvar(2015)',
 '28.Dev.D(2009)',
 '29.Johnny Gaddaar(2007)',
 '30.Ugly(2013)',
 '31.Kahaani(2012)',
 '32.Badhaai Do(2022)',
 '33.Tumbbad(2018)',
 '34.Hera Pheri(2000)',
 '35.Drishyam(2015)',
 '36.Veer-Zaara(2004)',
 '37.Barfi!(2012)',
 '38.Highway(I) (2014)',
 '39.Rang De Basanti(2006)',
 '40.Dor(2006)',
 '41.Hazaaron Khwaishein Aisi(2003)',
 '42.Chak De! India(2007)',
 '43.Sir(I) (2018)',
 '44.Queen(2013)',
 '45.October(II) (2018)',
 '46.Black(2005)',
 '47.Jab We Met(2007)',
 '48.Piku(2015)',
 '49.Kadvi Hawa(2017)',
 '50.Kapoor & Sons(2016)',
 '51.Titli(2014)',
 '52.Tu Hai Mera Sunday(2016)',
 '53.Newton(2017)',
 '54.Paan Singh Tomar(2012)',
 '55.Mukkabaaz(2017)',
 '56.Devdas(I) (2002)',
 '57.PK(2014)',
 '58.Stanley Ka Dabba(2011)',
 '59.Dil Chahta Hai(2001)',
 '60.Pink(III) (2016)',
 '61.No Smoking(2007)',
 '62.Kal Ho Naa Ho(2003)',
 '63.Parched(2015)',
 '64.English Vinglish(2012)',
 '65.Monsoon Wedding(2001)',
 '66.1971(2007)',
 '67.Company(2002)',
 '68.Water(I) (2005)',
 '69.Article 15(2019)',
 '70.Rockstar(2011)',
 '71.Oye Lucky! Lucky Oye!(2008)',
 '72.Om Shanti Om(2007)',
 '73.Bajrangi Bhaijaan(2015)',
 '74.Jhund(2022)',
 '75.Munna Bhai M.B.B.S.(2003)',
 '76.Delhi Belly(2011)',
 '77.Kabhi Khushi Kabhie Gham...(2001)',
 '78.Manto(2018)',
 '79.Udta Punjab(2016)',
 '80.Mukti Bhawan(2016)',
 '81.Iqbal(2005)',
 '82.Firaaq(2008)',
 '83.Ab Tak Chhappan(2004)',
 '84.Gully Boy(2019)',
 '85.My Name Is Khan(2010)',
 '86.RK/RKAY(2021)',
 '87.Bhaag Milkha Bhaag(2013)',
 '88.Wake Up Sid(2009)',
 '89.Raazi(2018)',
 '90.Peepli [Live](2010)',
 '91.The Sky Is Pink(2019)',
 '92.Gangubai Kathiawadi(2022)',
 '93.Thappad(2020)',
 '94.Chandni Bar(2001)',
 '95.Kai po che!(2013)',
 '96.Eeb Allay Ooo!(2019)',
 '97.Dasvidaniya(2008)',
 '98.A Wednesday(2008)',
 '99.LSD: Love, Sex Aur Dhokha(2010)',
 '100.Trapped(XVII) (2016)']

In [278]:
rel_year=[]
for i in bs.find_all('span',class_='lister-item-year text-muted unbold'):
    rel_year.append(i.text.split('|')[0])

In [279]:
rel_year

['(2012)',
 '(2015)',
 '(2012)',
 '(2004)',
 '(2010)',
 '(2021)',
 '(2014)',
 '(2013)',
 '(2006)',
 '(2009)',
 '(2011)',
 '(2004)',
 '(2012)',
 '(2013)',
 '(2015)',
 '(2018)',
 '(2003)',
 '(2007)',
 '(2019)',
 '(2009)',
 '(2004)',
 '(I) (2013)',
 '(2001)',
 '(2006)',
 '(2016)',
 '(2016)',
 '(2015)',
 '(2009)',
 '(2007)',
 '(2013)',
 '(2012)',
 '(2022)',
 '(2018)',
 '(2000)',
 '(2015)',
 '(2004)',
 '(2012)',
 '(I) (2014)',
 '(2006)',
 '(2006)',
 '(2003)',
 '(2007)',
 '(I) (2018)',
 '(2013)',
 '(II) (2018)',
 '(2005)',
 '(2007)',
 '(2015)',
 '(2017)',
 '(2016)',
 '(2014)',
 '(2016)',
 '(2017)',
 '(2012)',
 '(2017)',
 '(I) (2002)',
 '(2014)',
 '(2011)',
 '(2001)',
 '(III) (2016)',
 '(2007)',
 '(2003)',
 '(2015)',
 '(2012)',
 '(2001)',
 '(2007)',
 '(2002)',
 '(I) (2005)',
 '(2019)',
 '(2011)',
 '(2008)',
 '(2007)',
 '(2015)',
 '(2022)',
 '(2003)',
 '(2011)',
 '(2001)',
 '(2018)',
 '(2016)',
 '(2016)',
 '(2005)',
 '(2008)',
 '(2004)',
 '(2019)',
 '(2010)',
 '(2021)',
 '(2013)',
 '(2009)',
 '(2018)',
 '(2010)',
 '(2019)',
 '(2022)',
 '(2020)',
 '(2001)',
 '(2013)',
 '(2019)',
 '(2008)',
 '(2008)',
 '(2010)',
 '(XVII) (2016)']

In [280]:
rel_year = [i.replace('(I) ','') for i in rel_year]
rel_year = [i.replace('(II) ','') for i in rel_year]
rel_year = [i.replace('(III) ','') for i in rel_year]
rel_year = [i.replace('(XVII) ','') for i in rel_year]

In [281]:
rel_year

['(2012)',
 '(2015)',
 '(2012)',
 '(2004)',
 '(2010)',
 '(2021)',
 '(2014)',
 '(2013)',
 '(2006)',
 '(2009)',
 '(2011)',
 '(2004)',
 '(2012)',
 '(2013)',
 '(2015)',
 '(2018)',
 '(2003)',
 '(2007)',
 '(2019)',
 '(2009)',
 '(2004)',
 '(2013)',
 '(2001)',
 '(2006)',
 '(2016)',
 '(2016)',
 '(2015)',
 '(2009)',
 '(2007)',
 '(2013)',
 '(2012)',
 '(2022)',
 '(2018)',
 '(2000)',
 '(2015)',
 '(2004)',
 '(2012)',
 '(2014)',
 '(2006)',
 '(2006)',
 '(2003)',
 '(2007)',
 '(2018)',
 '(2013)',
 '(2018)',
 '(2005)',
 '(2007)',
 '(2015)',
 '(2017)',
 '(2016)',
 '(2014)',
 '(2016)',
 '(2017)',
 '(2012)',
 '(2017)',
 '(2002)',
 '(2014)',
 '(2011)',
 '(2001)',
 '(2016)',
 '(2007)',
 '(2003)',
 '(2015)',
 '(2012)',
 '(2001)',
 '(2007)',
 '(2002)',
 '(2005)',
 '(2019)',
 '(2011)',
 '(2008)',
 '(2007)',
 '(2015)',
 '(2022)',
 '(2003)',
 '(2011)',
 '(2001)',
 '(2018)',
 '(2016)',
 '(2016)',
 '(2005)',
 '(2008)',
 '(2004)',
 '(2019)',
 '(2010)',
 '(2021)',
 '(2013)',
 '(2009)',
 '(2018)',
 '(2010)',
 '(2019)',
 '(2022)',
 '(2020)',
 '(2001)',
 '(2013)',
 '(2019)',
 '(2008)',
 '(2008)',
 '(2010)',
 '(2016)']

In [282]:
len(rel_year)

100

In [283]:
rating1= []
for i in bs.find_all('div',class_='ipl-rating-star small'):
    rating1.append(i.text.split('|')[0])

In [284]:
rating1

['\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8\n',
 '\n\n\n\n\n\n\n\n7.8\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n7.9\n',
 '\n\n\n\n\n\n\n\n7.8\n',
 '\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n8\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n7.9\n',
 '\n\n\n\n\n\n\n\n8\n',
 '\n\n\n\n\n\n\n\n7.7\n',
 '\n\n\n\n\n\n\n\n7.4\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n7.4\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n7.9\n',
 '\n\n\n\n\n\n\n\n7.9\n',
 '\n\n\n\n\n\n\n\n7.9\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n7\n',
 '\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n7.8\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n7.6\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8\n',
 '\n\n\n\n\n\n\n\n7.9\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n7.7\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n7.5\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n7.9\n',
 '\n\n\n\n\n\n\n\n7.6\n',
 '\n\n\n\n\n\n\n\n8\n',
 '\n\n\n\n\n\n\n\n7.7\n',
 '\n\n\n\n\n\n\n\n7.5\n',
 '\n\n\n\n\n\n\n\n7.7\n',
 '\n\n\n\n\n\n\n\n7.6\n',
 '\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n8\n',
 '\n\n\n\n\n\n\n\n7.5\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n7.8\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n7.3\n',
 '\n\n\n\n\n\n\n\n7.9\n',
 '\n\n\n\n\n\n\n\n7.5\n',
 '\n\n\n\n\n\n\n\n7.8\n',
 '\n\n\n\n\n\n\n\n7.3\n',
 '\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n8\n',
 '\n\n\n\n\n\n\n\n7.7\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n7.7\n',
 '\n\n\n\n\n\n\n\n7.7\n',
 '\n\n\n\n\n\n\n\n6.7\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n7.4\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n7.5\n',
 '\n\n\n\n\n\n\n\n7.4\n',
 '\n\n\n\n\n\n\n\n7.3\n',
 '\n\n\n\n\n\n\n\n7.7\n',
 '\n\n\n\n\n\n\n\n7\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n7.3\n',
 '\n\n\n\n\n\n\n\n7.8\n',
 '\n\n\n\n\n\n\n\n7.9\n',
 '\n\n\n\n\n\n\n\n7.9\n',
 '\n\n\n\n\n\n\n\n7\n',
 '\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n7.6\n',
 '\n\n\n\n\n\n\n\n7.7\n',
 '\n\n\n\n\n\n\n\n7.4\n',
 '\n\n\n\n\n\n\n\n7.6\n',
 '\n\n\n\n\n\n\n\n7\n',
 '\n\n\n\n\n\n\n\n7\n',
 '\n\n\n\n\n\n\n\n7.6\n',
 '\n\n\n\n\n\n\n\n7.8\n',
 '\n\n\n\n\n\n\n\n7.2\n',
 '\n\n\n\n\n\n\n\n7.8\n',
 '\n\n\n\n\n\n\n\n8.1\n',
 '\n\n\n\n\n\n\n\n7.2\n',
 '\n\n\n\n\n\n\n\n7.5\n']

In [285]:
len(rating1)

100

In [286]:
rating1=[i.replace('\n','') for i in rating1]

In [287]:
rating1

['8.2',
 '8.1',
 '8',
 '8.4',
 '8.1',
 '8.4',
 '8',
 '7.8',
 '8.1',
 '8.4',
 '8.2',
 '8.2',
 '8.2',
 '7.9',
 '7.8',
 '8.2',
 '8',
 '8.4',
 '7.9',
 '8',
 '7.7',
 '7.4',
 '8.1',
 '8.3',
 '8.3',
 '7.4',
 '8.1',
 '7.9',
 '7.9',
 '7.9',
 '8.1',
 '7',
 '8.2',
 '8.1',
 '8.2',
 '7.8',
 '8.1',
 '7.6',
 '8.1',
 '8',
 '7.9',
 '8.1',
 '7.7',
 '8.1',
 '7.5',
 '8.1',
 '7.9',
 '7.6',
 '8',
 '7.7',
 '7.5',
 '7.7',
 '7.6',
 '8.2',
 '8',
 '7.5',
 '8.1',
 '7.8',
 '8.1',
 '8.1',
 '7.3',
 '7.9',
 '7.5',
 '7.8',
 '7.3',
 '8.2',
 '8',
 '7.7',
 '8.1',
 '7.7',
 '7.7',
 '6.7',
 '8.1',
 '7.4',
 '8.1',
 '7.5',
 '7.4',
 '7.3',
 '7.7',
 '7',
 '8.1',
 '7.3',
 '7.8',
 '7.9',
 '7.9',
 '7',
 '8.2',
 '7.6',
 '7.7',
 '7.4',
 '7.6',
 '7',
 '7',
 '7.6',
 '7.8',
 '7.2',
 '7.8',
 '8.1',
 '7.2',
 '7.5']

In [288]:
df=pd.DataFrame({'name':name,'year':rel_year,'rating':rating1})

In [289]:
df

                                  name    year rating
0           1.Gangs of Wasseypur(2012)  (2012)    8.2
1                       2.Masaan(2015)  (2015)    8.1
2              3.Ship of Theseus(2012)  (2012)      8
3                 4.Black Friday(2004)  (2004)    8.4
4                        5.Udaan(2010)  (2010)    8.1
..                                 ...     ...    ...
95             96.Eeb Allay Ooo!(2019)  (2019)    7.2
96                97.Dasvidaniya(2008)  (2008)    7.8
97                98.A Wednesday(2008)  (2008)    8.1
98  99.LSD: Love, Sex Aur Dhokha(2010)  (2010)    7.2
99            100.Trapped(XVII) (2016)  (2016)    7.5

[100 rows x 3 columns]

## President of India

In [291]:
web3 = requests.get('https://presidentofindia.nic.in/former-presidents.htm')

In [293]:
bs = BeautifulSoup(web3.content)

In [299]:
pres_name=[]

In [300]:
for i in bs.find_all('h3',class_='presidentListing'):
    pres_name.append(i.text.split('|')[0])

In [301]:
pres_name

[]

In [324]:
president=[]
for i in bs.find_all('div',class_='presidentListing'):
    president.append(i.text.split('|')[0])

In [325]:
president

['\nShri Ram Nath Kovind (birth - 1945)\nTerm of Office: 25 July, 2017 to 25 July, 2022 \nhttps://ramnathkovind.nic.in\n',
 '\nShri Pranab Mukherjee (1935-2020)\nTerm of Office: 25 July, 2012 to 25 July, 2017 \nhttp://pranabmukherjee.nic.in\n',
 '\nSmt Pratibha Devisingh Patil (birth - 1934)\nTerm of Office: 25 July, 2007 to 25 July, 2012 \nhttp://pratibhapatil.nic.in\n',
 '\nDR. A.P.J. Abdul Kalam (1931-2015)\nTerm of Office: 25 July, 2002 to 25 July, 2007 \nhttp://abdulkalam.nic.in\n',
 '\nShri K. R. Narayanan (1920 - 2005)\nTerm of Office: 25 July, 1997 to 25 July, 2002 \n',
 '\nDr Shankar Dayal Sharma (1918-1999)\nTerm of Office: 25 July, 1992 to 25 July, 1997 \n',
 '\nShri R Venkataraman (1910-2009)\nTerm of Office: 25 July, 1987 to 25 July, 1992 \n',
 '\nGiani Zail Singh (1916-1994)\nTerm of Office: 25 July, 1982 to 25 July, 1987 \n',
 '\nShri Neelam Sanjiva Reddy (1913-1996)\nTerm of Office: 25 July, 1977 to 25 July, 1982 \n',
 '\nDr. Fakhruddin Ali Ahmed (1905-1977)\nTerm of Office: 24 August, 1974 to 11 February, 1977\n',
 '\nShri Varahagiri Venkata Giri (1894-1980)\nTerm of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974\n',
 '\nDr. Zakir Husain (1897-1969)\nTerm of Office: 13 May, 1967 to 3 May, 1969\n',
 '\nDr. Sarvepalli Radhakrishnan (1888-1975)\nTerm of Office: 13 May, 1962 to 13 May, 1967\n',
 '\nDr. Rajendra Prasad (1884-1963) \nTerm of Office: 26 January, 1950 to 13 May, 1962\n']

In [326]:
president=[i.replace('\n',',') for i in president]

In [327]:
president

[',Shri Ram Nath Kovind (birth - 1945),Term of Office: 25 July, 2017 to 25 July, 2022 ,https://ramnathkovind.nic.in,',
 ',Shri Pranab Mukherjee (1935-2020),Term of Office: 25 July, 2012 to 25 July, 2017 ,http://pranabmukherjee.nic.in,',
 ',Smt Pratibha Devisingh Patil (birth - 1934),Term of Office: 25 July, 2007 to 25 July, 2012 ,http://pratibhapatil.nic.in,',
 ',DR. A.P.J. Abdul Kalam (1931-2015),Term of Office: 25 July, 2002 to 25 July, 2007 ,http://abdulkalam.nic.in,',
 ',Shri K. R. Narayanan (1920 - 2005),Term of Office: 25 July, 1997 to 25 July, 2002 ,',
 ',Dr Shankar Dayal Sharma (1918-1999),Term of Office: 25 July, 1992 to 25 July, 1997 ,',
 ',Shri R Venkataraman (1910-2009),Term of Office: 25 July, 1987 to 25 July, 1992 ,',
 ',Giani Zail Singh (1916-1994),Term of Office: 25 July, 1982 to 25 July, 1987 ,',
 ',Shri Neelam Sanjiva Reddy (1913-1996),Term of Office: 25 July, 1977 to 25 July, 1982 ,',
 ',Dr. Fakhruddin Ali Ahmed (1905-1977),Term of Office: 24 August, 1974 to 11 February, 1977,',
 ',Shri Varahagiri Venkata Giri (1894-1980),Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974,',
 ',Dr. Zakir Husain (1897-1969),Term of Office: 13 May, 1967 to 3 May, 1969,',
 ',Dr. Sarvepalli Radhakrishnan (1888-1975),Term of Office: 13 May, 1962 to 13 May, 1967,',
 ',Dr. Rajendra Prasad (1884-1963) ,Term of Office: 26 January, 1950 to 13 May, 1962,']